/* ---------- CUSTOM VARIABLES ---------- */

/* -> TEXT  */
$clr-text-primary: rgb(235, 240, 208);
$clr-background: #282c34;

/* -> BUTTONS  */
$clr-btn-primary: #222d42;
$clr-btn-hover-primary: #354666;

/* --------- BOOTSTRAP STYLING OVERRIDE --------- */

.btn-primary {
  background-color: $clr-btn-primary;
}

.btn-primary:hover {
  background-color: $clr-btn-hover-primary;
}

/* --------- STYLING NORMALIZATION --------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $clr-background;
  color: $clr-text-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  display: block;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  input,
  textarea {
    margin-bottom: 1em;
  }
}
