$clr-nav-background: rgb(29, 29, 29);
$clr-nav-text: rgb(246, 247, 202);

nav {
  display: flex;
  position: sticky;
  top: 0;
  margin-bottom: 2em;
  background-color: $clr-nav-background;
  box-shadow: $clr-nav-background 0px 1px 0px, rgba(15, 14, 10, 0.788) 0px 6px 20px;

  a,
  button {
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    color: $clr-nav-text;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  a,
  button,
  span {
    display: flex;
    padding: 1em;
    align-items: center;

    &:nth-child(2) {
      margin-right: auto;
    }
  }
  button {
    border: 0;
  }
}
